@import 'styles/theme/colors';
@import 'styles/helpers/mixins';
@import 'styles/helpers/extenders';

.header {
	font-family: 'Poppins', Helvetica, Arial, Helvetica, sans-serif;
	font-weight: 500;
	height: 60px;
	min-width: 100vw;
	padding: 0 30px;

	background-color: $dark;
	color: $light;

	box-shadow: 0 2px 5px rgba($black, 0.1);

	@include flex-between();

	span > a {
		@extend %nav-item;
		width: 200px;
	}

	ul {
		@include flex-between();

		li {
			height: 60px;
			min-width: 100px;
			transition: background-color 0.3s;
			@include flex-center();

			&:hover {
				background-color: $light;
				color: $dark;
				cursor: pointer;
			}

			a {
				@extend %nav-item;
				min-width: 100px;
				width: auto;
				padding: 0 10px;
				&:hover {
					color: $dark;
				}
			}

			.cart {
				@include flex-around();
			}
		}

		.buy {
			@include main-page-cards($cyan, $orange);
		}

		.vote {
			@include main-page-cards($magenta, $green);
		}
	}
}

.text {
	display: visible;
}

.icon {
	display: none;
}
