@import 'styles/theme/colors';
@import 'styles/theme/font-sizes';
@import 'styles/helpers/mixins';
@import 'styles/helpers/extenders';

.cart {
	background-color: $light;
	width: 95vw;
	min-height: 80vh;
	border-radius: 15px;
	padding: 25px 35px;
	margin: 25px auto;
	box-shadow: 2px 5px 10px rgba($dark, 0.2);
	@include flex-between(column);

	h1 {
		font-size: $font-xl;
	}

	table {
		width: 95%;

		td {
			padding: 10px 30px;
			text-align: center;
			line-height: $font-mm;
			height: 100px;

			div {
				top: 20px;
			}
		}

		thead {
			tr {
				//@include flex-around;
				border-bottom: 3px solid $dark;
				padding: 35px 0;
				height: $font-xl;
				font-size: $font-xm;
			}
		}

		tbody {
			margin-top: 15px;

			tr {
				border-bottom: 1px solid $gray;
				font-size: $font-mm;
			}
		}
	}
}
