@import 'styles/theme/colors';
@import 'styles/theme/font-sizes';
@import 'styles/helpers/mixins';
@import 'styles/helpers/extenders';

.cart {
	background-color: $light;
	width: 95vw;
	min-height: 80vh;
	border-radius: 15px;
	padding: 25px 35px;
	margin: 25px auto;
	box-shadow: 2px 5px 10px rgba($dark, 0.2);
	@include flex-between(column);

	h1 {
		font-size: $font-xl;
	}

	table {
		width: 95%;

		td {
			padding: 10px 30px;
			text-align: center;
			line-height: $font-mm;
			height: 100px;

			div {
				top: 20px;
			}

			svg{
				margin-left: 25px;
			}
		}

		thead {
			tr {
				//@include flex-around;
				border-bottom: 3px solid $dark;
				padding: 35px 0;
				height: $font-xl;
				font-size: $font-xm;
			}
		}

		tbody {
			margin-top: 15px;

			tr {
				border-bottom: 1px solid $gray;
				font-size: $font-mm;
			}
		}
	}

	.purchase {
		@include flex-between;
		width: 40%;
		height: 10vh;
		padding: 10px;

		h2,
		button {
			font-size: $font-xm;
		}

		button {
			background-color: $cyan;
			color: $light;
			padding: 10px 15px;
			border-radius: 15px;
			transition: background-color 0.3s;

			&:hover {
				background-color: $magenta;
			}
		}

		.clear {
			background-color: $red;
			transition: background-color 0.3s;

			&:hover {
				background-color: $dark;
			}
		}
	}
}
