@import 'styles/theme/colors';
@import 'styles/helpers/mixins';

.card {
	margin: 25px;
	padding: 15px;
	border-radius: 15px;
	width: 20vw;
	height: auto;
	background-color: $light;
	box-shadow: 0 2px 5px rgba($dark, 0.2);
	@include flex-center(column);

	div > img {
		width: 200px;
		height: 200px;
		cursor: pointer;
	}

	.content {
		@include flex-center(column);
		padding: 15px 0;
		width: 60%;

		h3,
		h4 {
			margin: 10px 0;
			text-align: center;
		}

		a {
			margin: 10px;
		}

		div {
			margin: 5px;
			width: 100%;
			@include flex-center;
		}
	}
}
