$font-xs: 8px;
$font-s: 12px;
$font-m: 16px;
$font-xm: 24px;
$font-l: 32px;
$font-xl: 48px;
$font-xxl: 60px;
$font-g: 72px;
$font-xg: 96px;

$line-xs: 10px;
$line-s: 15px;
$line-m: 19px;
$line-xm: 28px;
$line-l: 38px;
$line-xl: 58px;
$line-xxl: 72px;
$line-g: 86px;
$line-xg: 115px;
